:root {
    --background: hsl(47, 88%, 63%);
    --card-background: #fff;
    --big-text: hsl(0, 0%, 7%);
    --text: hsl(0, 0%, 42%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* body start */

body {
    font-family: "Figtree", sans-serif;
    background: var(--background);
    min-height: 100vh;
}

/* card start */

.card {
    background-color: var(--card-background);
    padding: 25px 30px;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 400px;
    box-shadow: 15px 15px black;
}

.img-container {
    margin-bottom: 25px;
}

.tag {
    background-color: var(--background);
    padding: 10px 15px;
    display: inline-block;
}

/* card end */

/* body end */

/* footer start */

.footer {
    bottom: 10px;
}

.attribution { 
    font-size: 1.5rem; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* footer end */

/* other start */

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.items-center {
    align-items: center;
}

/* other end */