:root {
    --background: hsl(47, 88%, 63%);
    --card-background: #fff;
    --big-text: hsl(0, 0%, 7%);
    --text: hsl(0, 0%, 42%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* body start */

body {
    font-family: "Figtree", sans-serif;
    background: var(--background);
    min-height: 100vh;
}

/* card start */



/* card end */

/* body end */

/* footer start */

.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* footer end */

/* other start */



/* other end */