:root {
    --background: hsl(30, 54%, 90%);
    --recipe-background: #fff;

    --prep-background: hsl(330, 100%, 98%);
    --prep-header: hsl(332, 51%, 32%);

    --headers: hsl(14, 45%, 36%);
    --lines: hsl(30, 18%, 87%);

    --text: hsl(30, 10%, 34%);
    --bolder-text: hsl(24, 5%, 18%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.6rem;
    color: var(--text);
    padding: 120px 0;
}

ul, ol {
    list-style-position: inside;
}

/*main start */

.content {
    background-color: var(--recipe-background);
    max-width: 735px;
    border-radius: 15px;
    padding: 40px;
}

.food-img-container {
    width: 655px;
    height: 300px;
    margin-bottom: 40px;
}

.food-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title {
    color: var(--bolder-text);
    margin-bottom: 20px;
    font-size: 4rem;
}

.description {
    margin-bottom: 35px;
}

.preparation-container {
    background-color: var(--prep-background);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.preparation-title {
    font-size: 2.1rem;
    color: var(--prep-header);
    margin-bottom: 20px;
}

.preparation-item {
    margin-bottom: 20px;
}

.preparation-item::marker {
    color: var(--prep-header);
    margin-right: 5px;
}

/* main end */

/* footer start */

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* footer end*/

/* other start */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 700;
}

.young-serif {
    font-family: "Young Serif", serif;
}

/* other end */