:root {
    --background: #fff;

    --team-builder: hsl(0, 78%, 62%);
    --supervisor: hsl(180, 62%, 55%);
    --karma: hsl(34, 97%, 64%);
    --calculator: hsl(212, 86%, 64%);

    --text: hsl(212, 6%, 44%);
    --titles: hsl(234, 12%, 34%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.5rem;
    color: var(--text);
}

h1, h2 {
    color: var(--titles);
}

/* main start */

.second-title {
    font-size: 3rem;
    margin-bottom: 15px;
}

.title-description {
    max-width: 510px;
    margin-bottom: 70px;
    color: var(--titles);
}

.grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0px 7px 15px var(--text);
    text-align: left;
    position: relative;
}

.card:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red;
    border-radius: 15px 15px 0 0;
}

/*.color {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 15px 15px 0 0;
    background-color: var(--supervisor);
}*/

/* main end */

/* footer start */

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* footer end */

/* other start */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
}

.thin {
    font-weight: 200;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.absolute {
    position: absolute;
}

/* other end */