:root {
    --background: hsl(210, 46%, 95%);

    --article-background: #fff;
    --social-media-background: hsl(217, 19%, 35%);
    
    --btn-hover: hsl(214, 17%, 51%);
    --btn: hsl(212, 23%, 69%);

    --text: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.3rem;
}

/* main start */

.content {
    background-color: var(--article-background);
    border-radius: 10px;
    max-height: 280px;
}

.img-container {
    min-width: 285px;
    min-height: 280px;
}

.drawer-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.article-container {
    padding: 30px 40px;
    color: var(--btn);
}

.article-title {
    color: var(--social-media-background);
    font-size: 2rem;
    max-width: 345px;
    margin-bottom: 25px;
}

.article-text {
    max-width: 355px;
    margin-bottom: 30px;
}

.article-footer {
    width: 100%;
}

.author-photo-container {
    max-width: 40px;
    max-height: 40px;
    margin-right: 20px;
}

.author-photo {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.author-name {
    color: var(--social-media-background);
}

.author-date {
    color: var(--btn);
}

/* main end */

/* footer start */

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* footer end */

/* other start */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.normal {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.hidden {
    display: none;
}

/* other end */