:root {
    --background: hsl(0, 0%, 96%);
    --purple-card-background: hsl(263, 55%, 52%);
    --gray-card-background: hsl(217, 19%, 35%);
    --black-card-background: hsl(219, 29%, 14%);

    --white-text: #fff;
    --purple-text: hsl(260, 100%, 95%);
    --black-text: hsl(224, 10%, 45%);
    --light-grey-text: hsl(214, 17%, 92%);
    --grey-text: hsl(0, 0%, 81%);

    --quote: hsl(264, 82%, 80%);
    --shadow: hsl(0, 0%, 7%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.3rem;
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* - Weights: 500, 600 */