:root {

}

/* 
### Primary

- Purple 50: hsl(260, 100%, 95%)
- Purple 300: hsl(264, 82%, 80%)
- Purple 500: hsl(263, 55%, 52%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey 100: hsl(214, 17%, 92%)
- Grey 200: hsl(0, 0%, 81%)
- Grey 400: hsl(224, 10%, 45%)
- Grey 500: hsl(217, 19%, 35%)
- Dark blue: hsl(219, 29%, 14%)
- Black: hsl(0, 0%, 7%)

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.3rem;
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* - Weights: 500, 600 */