:root {
    --background: hsl(0, 0%, 96%);
    --purple-card-background: hsl(263, 55%, 52%);
    --gray-card-background: hsl(217, 19%, 35%);
    --black-card-background: hsl(219, 29%, 14%);

    --white-text: #fff;
    --purple-text: hsl(260, 100%, 95%);
    --black-text: hsl(224, 10%, 45%);
    --light-grey-text: hsl(214, 17%, 92%);
    --grey-text: hsl(0, 0%, 81%);

    --quote: hsl(264, 82%, 80%);
    --shadow: hsl(0, 0%, 7%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.3rem;
}

/* main start */

.grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonial {
    padding: 30px;
    border-radius: 10px;
}

.author-container {
    margin-bottom: 20px;
}

.author-photo {
    border-radius: 50%;
    margin-right: 15px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
}

.author-name {
    margin-bottom: 3px;
}

.author-description {
    font-size: 1.2rem;
}

.purple-testimonial {
    background-color: var(--purple-card-background);
    color: var(--purple-text);
    position: relative;
    z-index: -1;
}

.quotes-img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 60px;
}

/* main end */

/* footer start */

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* footer end */

/* other start */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.items-center {
    align-items: center;
}

.grid {
    display: grid;
}

.normal {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

/* other end */