:root {
    --background: hsl(235, 18%, 26%);
    --background-form: #fff;

    --text: hsl(234, 29%, 20%);
    --text-email: hsl(0, 0%,58%);

    --error: hsl(4, 100%, 67%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.6rem;
    color: var(--text);
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* main start */

.content {
    background-color: var(--background-form);
    min-height: 100vh;
}

.form-img-container {
    min-width: 100%;
    max-height: 285px;
}

.subscribe-form {
    padding: 45px 25px;
}

.title {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 30px;
}

.form-text {
    margin-bottom: 30px;
}

.updates-list {
    list-style: none;
    gap: 20px;
    margin-bottom: 45px;
}

.updates-list-item {
    position: relative;
    padding-left: 40px;
}

.updates-list-item::before {
    content: "";
    background-image: url(./design/images/icon-list.svg);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.label-container {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.error-message {
    color: var(--error);
}

.email-input {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--text-email);
    margin-bottom: 25px;
}

.submit-btn {
    padding: 20px 45px;
    background-color: var(--text);
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
}

.submit-btn:hover, .submit-btn:active {
    background: linear-gradient(90deg, #ff5476, #ff693e);
    box-shadow: -5px 20px 17px -5px #fec6c1;
}

/* main end */

/* footer start */

.footer {
    background-color: var(--background-form);
}

.attribution {
    font-size: 1.1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* footer end */

/* other start */

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.absolute {
    position: absolute;
}

/* other end */