:root {
    --background: hsl(235, 18%, 26%);
    --background-form: #fff;

    --text: hsl(235, 18%, 26%);
    --text-bold: hsl(234, 29%, 20%);
    --text-email: hsl(0, 0%,58%);

    --hover: hsl(4, 100%, 67%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.6rem;
    color: var(--text);
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* main start */

.content {
    background-color: var(--background-form);
    min-height: 100vh;
}

.form-img-container {
    min-width: 100%;
    max-height: 285px;
}

.subscribe-form {
    padding: 45px 25px;
}

.title {
    color: var(--text-bold);
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 30px;
}

.form-text {
    margin-bottom: 30px;
}

.updates-list {
    /*list-style-image: url(./design/images/icon-list.svg);*/
    list-style: none;
}

.updates-list-item {
    position: relative;
}

.updates-list-item::before {
    content: "";
    background-image: url(./design/images/icon-list.svg);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 2px;
}

/* main end */

/* footer start */

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* footer end */

/* other start */

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

/* other end */